<div class="page">
  <h1>{{vm.pageTitle}} Interest</h1>
  <form ng-submit="vm.saveInterest()">
    <label for="interest-name">Name</label>
    <input ng-model="vm.currentInterest.name" type="text" name="interest-name" id="interest-name" />
    <br />
    <label for="interest-level">Level</label>
    <select ng-model="vm.currentInterest.level" name="interest-name" id="interest-name">
      <option value="beginner">
        Beginner
      </option>
      <option value="intermediate">
        Interemdiate
      </option>
      <option value="advanced">
        Advanced
      </option>
    </select>
    <br />
    <label for="interest-improv">IsImproving</label>
    <input ng-model="vm.currentInterest.isImproving" type="checkbox" name="interest-improv" id="interest-improv" />
    <br />
    <input type="submit" value="Save" />
    <button ui-sref="interestlist">Back</button>
  </form>
</div>
