<div class="page">
  <ul class="tabs-handle">
    <li ng-click="vm.setTab(vm.availableTabs.javascript)" ng-class="{ 'active-tab' : vm.getTab() == vm.availableTabs.javascript }">JS</li>
    <li ng-click="vm.setTab(vm.availableTabs.angularjs)" ng-class="{ 'active-tab' : vm.getTab() == vm.availableTabs.angularjs }">Angular</li>
    <li ng-click="vm.setTab(vm.availableTabs.nodejs)" ng-class="{ 'active-tab' : vm.getTab() == vm.availableTabs.nodejs }">Node</li>
  </ul>
  <div class="clear"></div>
  <div class="tabs-content" ng-show="vm.getTab() == vm.availableTabs.javascript">
    Facts about JavaScript
  </div>
  <div class="tabs-content" ng-show="vm.getTab() == vm.availableTabs.angularjs">
    Facts about AngularJS
  </div>
  <div class="tabs-content" ng-show="vm.getTab() == vm.availableTabs.nodejs">
    Facts about NodeJS
  </div>
</div>
